<div class="editor">
  <h3>Hot Topics</h3>
  <ul>
    <li><a href="http://edcoe.org/supts/whats_new/index.html" target="_blank">What's New</a></li>
    <li><a href="http://edcoe.org/supts/press_releases/index.htm" target="_blank">Press Releases</a></li>
    <li><a href="http://edcoe.org/supts/community_resources/index.html" target="_blank">Community Resources</a></li>
    <li><a href="http://edcoe.org/supts/community_resources/state_resources.htm" target="_blank">State Resources</a></li>
  </ul>
</div>
<div class="sptr-line-x"></div>