<div class="editor">
  <!-- <h3>Left Navigation</h3> -->
  <ul>
    <li><a href="{{site.link_for}}/about_us/mission_statement.html" target="{{site.target}}">Mission Statement</a></li>
    <li><a href="{{site.link_for}}/about_us/documents/FingertipFactsEDCOE-Winter2013pub.pdf" target="_blank">Fingertip Facts</a></li>
    <li><a href="{{site.link_for}}/about_us/documents/StateofEdWinter2013.pdf" target="_blank">State of Education</a></li>
    <li><a href="{{site.link_for_s}}/local_control_accountability_plan.html" >Local Control Accountability Plan (LCAP)</a></li>
    <li><a href="{{site.link_for_s}}/contactus.html">Map/Directions</a></li>
    <li><a href="{{site.link_for_s}}/aerial_view.html">Aerial View</a></li>
    <li><a href="{{site.link_for}}/about_us/documents/sitemap.pdf" target="_blank">Campus Map</a></li>
    <li><a href="http://directory.edcoe.k12.ca.us/new/default2.asp" target="_blank">EDCOE/District Personnel Search</a></li>
  </ul>
</div>
