<div class="banner"><!-- banner -->
  <div class="banner-col1">
    {% include bannermenu.html %}
  </div>
  
  <div class="banner-col2">
    <ul class="bxslider">
      <li>
        <img src="images/about-edcoe_1113012.jpg" alt="" />
        <div class="banner-text">
          <h1>About EDCOE</h1>
          <p>Preparing our Students for Future Success <a href="{{site.link_for_s}}/about_EDCOE.html" class="readmore">More...</a></p>
        </div>
      </li>
      <li>
        <img src="images/superintendents_office_1113097.jpg" alt=""  />
        <div class="banner-text">
          <h1>Superintendent’s Office</h1>
          <p>The future of our country rests in our children – their education is our greatest responsibility <a href="{{site.link_for_s}}/superintendents_office.html" class="readmore">More...</a></p>
        </div>
      </li>
      <li>
        <img src="images/image_1087x381_schools.jpg" alt="" />
        <div class="banner-text">
          <h1>Districts And Schools</h1>
          <p>Foundations for the Future <a href="{{site.link_for_s}}/schools_districts.html" class="readmore">More...</a></p>
        </div>
      </li>
      <li>
        <img src="images/departments-and-services_1113034.jpg" alt="" />
        <div class="banner-text">
          <h1>Departments And Services</h1>
          <p>Our Partnership with Students, Families and the Community <a href="{{site.link_for_s}}/departments_services.html" class="readmore">More...</a></p>
        </div>
      </li>
      <li>
        <img src="images/image_1087x381-educationalServices.jpg" alt="" />
        <div class="banner-text">
          <h1>Educational Services</h1>
          <p>Educational Excellence for the Challenges of Tomorrow <a href="{{site.link_for_s}}/educational_services.html" class="readmore">More...</a></p>
        </div>
      </li>
      <li>
        <img src="images/image_1087x381_educators.jpg" alt="" />
        <div class="banner-text">
          <h1>For Educators</h1>
          <p>Professional Education, Innovation, Information and Training <a href="{{site.link_for_s}}/educators.html" class="readmore">More...</a></p>
        </div>
      </li>
      <li>
        <img src="images/job-openings_1113206.jpg" alt="" />
        <div class="banner-text">
          <h1>Job Openings</h1>
          <p>Committed to Supporting Student Success <a href="{{site.link_for_s}}/job_openings.html" class="readmore">More...</a></p>
        </div>
      </li>
      <li>
        <img src="images/contact-us_1113205.jpg" alt="" />
        <div class="banner-text">
          <h1>Contact Us</h1>
          <p>Achieving Educational Excellence for Student Success <a href="{{site.link_for_s}}/contactus.html" class="readmore">More...</a></p>
        </div>
      </li>
    </ul>
  </div>
  
  
</div><!-- /banner -->
