<div class="editor">
  <h3>Department Links</h3>
  <ul>
    <li><a target="_blank" href="http://edcoe.org/departments/admin_services/index.html">Administrative Services</a></li>
    <li><a target="_blank" href="http://edcoe.org/departments/audio_visual_services/index.htm">Audio Visual Services</a> </li>
    <li><a target="_blank" href="http://edcoe.org/departments/curriculum_instruction/btsa.html">BTSA Professional Teacher  Induction Program</a></li>
    <li><a target="_blank" href="http://edcoe.org/departments/business_services/index.html">Business   Services</a></li>
    <li><a target="_blank" href="http://edcoe.org/departments/child_development/index.html">Child   Development Programs</a> </li>
    <li><a target="_blank" href="http://edcoe.org/departments/curriculum_instruction/index.html">Curriculum and   Instruction</a> </li>
    <li><a target="_blank" href="http://edcoe.org/departments/developer_fees/index.html">Developer Fees</a> </li>
    <li><a target="_blank" href="http://www.edcares.org" >Early Care and Education Planning Council (Local Planning Council - LPC)</a></li>
    <li><a target="_blank" href="http://edcoe.org/programs/index.html">Educational Services/Student Programs </a></li>
    <li><a target="_blank" href="http://www.edcoecharterselpa.org/">El Dorado County Charter SELPA</a></li>
    <li><a target="_blank" href="http://edcoe.org/departments/emergency/index.html">Emergency Preparedness</a></li>
    <li><a target="_blank" href="http://edcoe.org/departments/maintenance_operations/index.html">Facilities, Maintenance and Operations</a></li>
    <li><a target="_blank" href="http://edcoe.org/programs/gate/index.html">Gifted and Talented   Education (GATE)</a> </li>
    <li><a target="_blank" href="http://edcoe.org/programs/juvenile_hall/index.html">Golden   Ridge/Blue Ridge&nbsp;School</a> </li>
    <li><a target="_blank" href="http://edcoe.org/programs/indian_education/index.htm">Indian Education</a> </li>
    <li><a target="_blank" href="http://edcoe.org/departments/technology/index.html" >Information Technology Services</a></li>
    <li><a target="_blank" href="http://edcoe.org/programs/op/index.html">Opportunities for   Pregnant Minors</a> </li>
    <li><a target="_blank" href="http://edcoe.org/departments/human_resources/index.html">Personnel Services</a></li>
    <li><a target="_blank" href="http://edcoe.org/departments/print_shop/index.html">Print Shop   Facility</a> </li>
    <li><a target="_blank" href="http://www.edcoepd.com/">Professional Development Calendar </a></li>
    <li><a target="_blank" href="http://edcoe.org/programs/sarb/index.html">School   Attendance Review Board (SARB)</a> </li>
    <li><a target="_blank" href="http://edcoe.org/departments/selpa/index.html">Special   Education Local Plan Area (SELPA)</a> </li>
    <li><a target="_blank" href="http://edcoe.org/departments/special_education/index.html">Special   Education Services</a></li>
    <li><a target="_blank" href="http://edcoe.org/supts/index.html">Superintendent of Schools</a> </li>
    <li><a target="_blank" href="http://edcoe.org/departments/testing/index.html">Testing Services</a> </li>
  </ul>
</div>
