<div class="editor">
  <h3>Hot Topics</h3>
  <ul>
    <li><a href="http://edcoe.org/supts/whats_new/index.html" target="_blank">What's New</a></li>
    <li><a href="http://edcoe.org/supts/press_releases/index.htm" target="_blank">Press Releases</a></li>
    <li><a href="http://edcoe.org/supts/community_resources/index.html" target="_blank">Community Resources</a></li>
    <li><a href="http://www.communityobservatory.org/" target="_blank">Community Observatory</a></li>
    <li><a href="http://edcoe.org/departments/developer_fees/index.html" target="_blank">Developer Fees</a></li>
    <li><a href="http://edcoe.org/departments/emergency/index.html" target="_blank">Emergency Preparedness</a></li>
    <li><a href="http://www.edc-scholarships.org/" target="_blank">Scholarship Information</a></li>
    <li><a href="http://edcoe.org/districts/index.html" target="_blank">Schools Accountability Report Cards</a></li>
    <li><a href="http://edcoe.org/programs/sarb/index.html" target="_blank">School Attendance Review Board</a></li>
    <li><a href="http://edcoe.org/departments/emergency/index.html" target="_blank">School Safety</a></li>
    <li><a href="http://edcoe.org/supts/community_resources/state_resources.htm" target="_blank">State Resources</a></li>
    <li><a href="http://edcoe.org/supts/whats_new/we_tip.html" target="_blank">We Tip</a></li>
    <li><a href="http://edcoe.org/supts/whats_new/williams/index.html" target="_blank">Williams Settlement Act</a></li>
  </ul>
</div>
<div class="sptr-line-x"></div>