<div class="editor">
  <h3>Additional Information</h3>
  <ul>
    <li><a href="{{site.link_for}}/departments/curriculum_instruction/atp.htm" target="{{site.target}}">Administrator Training Program</a></li>
    <li><a href="{{site.link_for}}/departments/curriculum_instruction/btsa.html" target="{{site.target}}">BTSA: Beginning Teacher Support and Assessment</a></li>
    <li><a href="http://www.edcoepd.com/" target="_blank">Calendar for Professional Development</a></li>
    <li><a href="{{site.link_for}}/departments/curriculum_instruction/CalforniasCommonCore.htm" target="{{site.target}}">Common Core State Standards</a></li>
    <li><a href="{{site.link_for}}/departments/technology/staff_training.html" target="{{site.target}}">EDCOE Technology Academy</a></li>
    <li><a href="{{site.link_for}}/departments/curriculum_instruction/meetingsEL.html" target="{{site.target}}">English Learners</a></li>
    <li><a href="{{site.link_for}}/departments/curriculum_instruction/instTechResources.html" target="{{site.target}}">Instructional Technology Resources</a></li>
    <li><a href="{{site.link_for}}/programs/school_readiness/index.html" target="{{site.target}}">School Readiness</a></li>
  </ul>
</div>