<div class="editor">
  <h3>Additional Information</h3>
  <ul>
    <li><a href="http://edcoe.org/departments/curriculum_instruction/atp.htm" target="_blank">Administrator Training Program</a></li>
    <li><a href="http://edcoe.org/departments/curriculum_instruction/btsa.html" target="_blank">BTSA: Beginning Teacher Support and Assessment</a></li>
    <li><a href="http://www.edcoepd.com/" target="_blank">Calendar for Professional Development</a></li>
    <li><a href="http://edcoe.org/departments/curriculum_instruction/CalforniasCommonCore.htm" target="_blank">Common Core State Standards</a></li>
    <li><a href="http://edcoe.org/departments/technology/staff_training.html" target="_blank">EDCOE Technology Academy</a></li>
    <li><a href="http://edcoe.org/departments/curriculum_instruction/meetingsEL.html" target="_blank">English Learners</a></li>
    <li><a href="http://edcoe.org/departments/curriculum_instruction/instTechResources.html" target="_blank">Instructional Technology Resources</a></li>
    <li><a href="http://edcoe.org/programs/school_readiness/index.html" target="_blank">School Readiness</a></li>
  </ul>
</div>