<div class="editor">
  <h3>Educational Services</h3>
  <ul>
    <li><a href="http://aded.edcoe.org/" target="_blank">Adult Education</a></li>
    <li><a href="{{site.link_for}}/programs/juvenile_hall/index.html" target="{{site.target}}">Blue Ridge School</a></li>
    <li><a href="{{site.link_for}}/programs/csrop/index.html" target="{{site.target}}">Central Sierra ROP</a></li>
    <li><a href="http://charter.edcoe.org/" target="_blank">Charter Community School</a></li>
    <li><a href="http://eday.edcoe.org/" target="_blank">Charter Extended Day Program</a></li>
    <li><a href="{{site.link_for}}/departments/child_development/index.html" target="{{site.target}}">Child Development Programs</a></li>
    <li><a href="http://directory.edcoe.k12.ca.us/new/default2.asp" target="_blank">EDCOE/District Personnel Search</a></li>
    <li><a href="http://www.edcoecharterselpa.org/" target="_blank">El Dorado County Charter SELPA</a></li>
    <li><a href="{{site.link_for}}/programs/ecs/index.html" target="{{site.target}}">Early Childhood Specialists</a></li>
    <li><a href="http://aded.edcoe.org/" target="_blank">English as a Second Language Program (ESL)</a></li>
    <li><a href="{{site.link_for}}/programs/fys/index.html" target="{{site.target}}">Foster Youth Services (FYS)</a></li>
    <li><a href="http://aded.edcoe.org/programs" target="_blank">GED Program</a></li>
    <li><a href="http://gate.edcoe.org/" target="_blank">Gifted and Talented Education (GATE)</a></li>
    <li><a href="{{site.link_for}}/programs/juvenile_hall/index.html" target="{{site.target}}">Golden Ridge School</a></li>
    <li><a href="{{site.link_for}}/programs/indian_education/index.htm" target="{{site.target}}">Indian Education</a></li>
    <li><a href="{{site.link_for}}/programs/op/index.html" target="{{site.target}}">Opportunities for Pregnant Minors</a></li>
    <li><a href="{{site.link_for}}/programs/riteofpassage/index.html" target="{{site.target}}">Rite of Passage Charter High School</a></li>
    <li><a href="{{site.link_for}}/programs/sarb/index.html" target="{{site.target}}">SARB (Schools Attendance Review Board)</a></li>
    <li><a href="{{site.link_for}}/programs/school_readiness/index.html" target="{{site.target}}">School Readiness</a></li>
    <li><a href="{{site.link_for}}/departments/selpa/index.html" target="{{site.target}}">SELPA (Special Education Local Plan Area)</a></li>
    <li><a href="{{site.link_for}}/departments/special_education/index.html" target="{{site.target}}">Special Education Services</a></li>
    <li><a href="{{site.link_for}}/programs/workability/index.html" target="{{site.target}}">Workability</a></li>
  </ul>
</div>

