<div class="editor">
  <!-- <h3>Left Navigation</h3> -->
  <ul>
    <li><a href="https://ess.edcoe.org/" target="_blank">Employee Login</a></li>
    <li><a href="https://webmail.edcoe.org" target="_blank">Webmail</a></li>
  </ul>
  
  <h3>Quick Links</h3>
  <ul>  
    <li><a href="http://www.edcoe.org/departments/child_development/documents/FoodServiceRequestAndBilling_distributed.pdf" target="_blank">Food Service</a></li>
    <li><a href="http://edcoe.org/documents/LunchBox.pdf" target="_blank">Lunch Box Menu</a></li>
    <li><a href="http://edcoe.org/departments/maintenance_operations/documents/RoomSetUpRequest10-23-12_distributed_003.pdf" target="_blank">Meeting Room Set Up</a></li> 
    <li><a href="http://edcoe.org/departments/maintenance_operations/documents/ReqForStockOfficeSupplies_distributed.pdf" target="_blank">Stock Office Supplies</a></li>
    <li><a href="http://edcoe.org/departments/maintenance_operations/warehouse.html" target="_blank">Warehouse Requests</a></li> 
  </ul>
</div>
