<div class="footer white" ><!-- Footer -->
  <p>6767 Green Valley Road, Placerville, CA 95667   |   Phone (530) 622-7130   |   FAX (530) 621-2543 </p>
  <a href="index.html">Home</a>  | 
  <a href="about_EDCOE.html">About EDCOE</a>  |  
  <a href="superintendents_office.html">Superintendent’s Office</a>  |  
  <a href="schools_districts.html">Schools &amp; Districts</a>  |  
  <a href="departments_services.html">Departments &amp; Services</a>  |  
  <a href="educational_services.html">Educational Services</a>  |  
  <a href="educators.html">Educators</a>  | 
  <a href="job_openings.html">Job Openings</a>  |  
  <!-- <a href="parents.html">Parents</a>  |  --> 
  <a href="contactus.html">Contact Us</a>
  <p class="copytext">
    <a href="#">Privacy policy</a> | &copy; 2013 EDCOE
  </p>
</div><!-- /Footer -->
