<div class="header"><!-- header  -->
  <div class="header-col1">
    <a href="index.html">
      <img class="logo" src="images/spacer.gif"  alt="EDCOE EL DORADO COUNTY OFFICE OF EDUCATION" title="EDCOE EL DORADO COUNTY OFFICE OF EDUCATION" />
    </a>
  </div>
  <div class="header-col2">
    <div class="search-n-contect">
      <div class="search-box">
        <!-- <input type="text" class="search-box-input" placeholder="SEARCH"  /> -->
        <script>
          (function() {
            var cx = '009948027702809544436:z4c6xyxqwfg';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
      <div>Jeremy M. Meyers, Superintendent, El Dorado County Office of Education  | <a href="contactus.html">Contact</a></div>
    </div>
  </div>
</div><!--   /header     -->
