<div class="editor">
  <h3>Department Links</h3>
  <ul>
    <li><a href="http://edcoe.org/departments/human_resources/index.html" target="_blank">Department Description</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/healthbenefitforum.html" target="_blank">Benefits</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/credentialing.html" target="_blank">Certificated/Credentialing Services</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/classified_services.html" target="_blank">Classified Services</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/fingerprinting.html" target="_blank">Finger Print Processing</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/job_descriptions.html" target="_blank">Job Descriptions</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/job_openings.html" target="_blank">Job Openings</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/perscomm.html" target="_blank">Personnel Commission</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/salary_schedules.html" target="_blank">Salary Schedules</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/hr_staff_list.html" target="_blank">Staff List</a></li>
    <li><a href="https://subfinder.edcoe.org/" target="_blank">WebConnect for Substitutes</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/classified_services.html" target="_blank">Substitutes Classified Services</a></li>
    <li><a href="http://edcoe.org/departments/human_resources/guestteacher.html" target="_blank">Substitute Teacher Services</a></li>
  </ul>
</div>
