<div class="editor">
  <h3>Department Links</h3>
  <ul>
    <li><a href="{{site.link_for}}/departments/human_resources/index.html" target="{{site.target}}">Department Description</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/healthbenefitforum.html" target="{{site.target}}">Benefits</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/credentialing.html" target="{{site.target}}">Certificated/Credentialing Services</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/classified_services.html" target="{{site.target}}">Classified Services</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/fingerprinting.html" target="{{site.target}}">Finger Print Processing</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/job_descriptions.html" target="{{site.target}}">Job Descriptions</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/job_openings.html" target="{{site.target}}">Job Openings</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/perscomm.html" target="{{site.target}}">Personnel Commission</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/salary_schedules.html" target="{{site.target}}">Salary Schedules</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/hr_staff_list.html" target="{{site.target}}">Staff List</a></li>
    <li><a href="https://subfinder.edcoe.org/" target="_blank">WebConnect for Substitutes</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/classified_services.html" target="{{site.target}}">Substitutes Classified Services</a></li>
    <li><a href="{{site.link_for}}/departments/human_resources/guestteacher.html" target="{{site.target}}">Substitute Teacher Services</a></li>
  </ul>
</div>
