<div class="editor">
  <h3>Safe Schools</h3>
  <ul>
    <li><a href="{{site.link_for}}/supts/whats_new/we_tip.html" target="{{site.target}}">WeTip –Crime Hotline</a></li> 
    <li><a href="{{site.link_for}}/departments/emergency/snowClosures.html" target="{{site.target}}">School Closures/ Snow Days</a></li>
    <li><a href="{{site.link_for}}/departments/emergency/index.html" target="{{site.target}}">Emergency Preparedness</a></li>
  </ul>
  <h3>District Boundaries</h3>
  <ul>
    <li><a href="{{site.link_for}}/districts/districtmapping.html" target="{{site.target}}">District Boundaries</a></li>
  </ul>
  <h3>Common Core</h3>
  <ul>
    <li><a href="{{site.link_for}}/departments/curriculum_instruction/CalforniasCommonCore.htm" target="{{site.target}}">Common Core State Standards</a></li>
  </ul>
  
  <h3>Academic Performance</h3>
  <ul>
    <li><a href="http://www.cde.ca.gov/ta/ac/ap/" target="_blank">Academic Performance Index Reports (API)</a></li>
    <li><a href="http://www.cde.ca.gov/ta/ac/sc" target="_blank">State Accountability Report Card</a></li>
  </ul>
</div>
