<div class="editor">
  <h3>Safe Schools</h3>
  <ul>
    <li><a href="http://www.edcoe.org/supts/whats_new/we_tip.html" target="_blank">WeTip –Crime Hotline</a></li> 
    <li><a href="http://www.edcoe.org/departments/emergency/snowClosures.html" target="_blank">School Closures/ Snow Days</a></li>
    <li><a href="http://www.edcoe.org/departments/emergency/index.html" target="_blank">Emergency Preparedness</a></li>
    <li><a href="http://www.edcoe.org/districts/districtmapping.html" target="_blank">District Boundries</a></li>
    <li><a href="http://edcoe.org/departments/curriculum_instruction/CalforniasCommonCore.htm" target="_blank">Common Core State Standards</a></li>
  </ul>
  <h3>Academic Performance</h3>
  <ul>
    <li><a href="http://www.cde.ca.gov/ta/ac/ap/" target="_blank">Academic Performance Index Reports (API)</a></li>
    <li><a href="http://www.cde.ca.gov/ta/ac/sc" target="_blank">State Accountability Report Card</a></li>
  </ul>
</div>
