<div class="content-col25pr brd-none sidebar colheight">
  
  <div class="editor">
    {% if page.left == 'about_EDCOE_left' %}
      {% include  about_EDCOE_left.html %}
    {% elsif page.left == 'educators_left' %}
      {% include  educators_left.html %}
    {% elsif page.left == 'parents_left' %}
      {% include  parents_left.html %}
    {% else %}  
      <h3>Educational Services</h3>
      <ul>
        <li><a href="http://aded.edcoe.org/" target="_blank">Adult Education</a></li>
        <li><a href="http://edcoe.org/programs/juvenile_hall/index.html" target="_blank">Blue Ridge School</a></li>
        <li><a href="http://edcoe.org/programs/csrop/index.html" target="_blank">Central Sierra ROP</a></li>
        <li><a href="http://charter.edcoe.org/" target="_blank">Charter Community School</a></li>
        <li><a href="http://eday.edcoe.org/" target="_blank">Charter Extended Day Program</a></li>
        <li><a href="http://edcoe.org/departments/child_development/index.html" target="_blank">Child Development Programs</a></li>
        <li><a href="http://www.edcoecharterselpa.org/" target="_blank">El Dorado County Charter SELPA</a></li>
        <li><a href="http://edcoe.org/programs/ecs/index.html" target="_blank">Early Childhood Specialists</a></li>
        <li><a href="http://aded.edcoe.org/" target="_blank">English as a Second Language Program (ESL)</a></li>
        <li><a href="http://edcoe.org/programs/fys/index.html" target="_blank">Foster Youth Services (FYS)</a></li>
        <li><a href="http://aded.edcoe.org/programs" target="_blank">GED Program</a></li>
        <li><a href="http://gate.edcoe.org/" target="_blank">Gifted and Talented Education (GATE)</a></li>
        <li><a href="http://edcoe.org/programs/juvenile_hall/index.html" target="_blank">Golden Ridge School</a></li>
        <li><a href="http://edcoe.org/programs/indian_education/index.htm" target="_blank">Indian Education</a></li>
        <!-- <li><a href="http://edcoe.org/programs/summer_enrichment/ISEE.html" target="_blank">Intensive Summer Enrichment Experience</a></li> -->
        <!-- <li><a href="http://edcoe.org/departments/curriculum_instruction/music.html" target="_blank">Music in the Schools</a></li> -->
        <li><a href="http://edcoe.org/programs/op/index.html" target="_blank">Opportunities for Pregnant Minors</a></li>
        <li><a href="http://edcoe.org/programs/riteofpassage/index.html" target="_blank">Rite of Passage Charter High School</a></li>
        <li><a href="http://edcoe.org/programs/sarb/index.html" target="_blank">SARB (Schools Attendance Review Board)</a></li>
        <li><a href="http://edcoe.org/programs/school_readiness/index.html" target="_blank">School Readiness</a></li>
        <li><a href="http://edcoe.org/departments/selpa/index.html" target="_blank">SELPA (Special Education Local Plan Area)</a></li>
        <li><a href="http://edcoe.org/departments/special_education/index.html" target="_blank">Special Education Services</a></li>
        <li><a href="http://edcoe.org/programs/workability/index.html" target="_blank">Workability</a></li>
      </ul>
    {% endif %}
  </div>
  <div class="sptr-line-x"></div>  
    
  <ul class="print-email">
    <li ><a href="javascript:window.print()" class="icon-print">Print</a></li>
    <li ><a href="#" class="icon-email">Email</a><span class='st_email_large' displayText='Email'></span></li>
    <li ><a href="/feed.xml" target="_blank" class="icon-rss">RSS</a></li>
    <li ><a href="#" class="icon-share">Share</a><span class='st_sharethis_large' displayText='ShareThis'></span></li>
  </ul>
</div>
