<div class="editor">
  <!-- <h3>Left Navigation</h3> -->
  <ul>
    <li><a href="{{site.link_for_s}}/index.html" >Home</a></li>
    <li><a href="{{site.link_for_s}}/spotlight.html" >Spotlight</a></li>
    <li><a href="{{site.link_for_s}}/news.html" >News</a></li>
    <li><a href="{{site.link_for_s}}/calendar.html" >Calendar</a></li>
  </ul>
  <h3>Quicklinks</h3>
  <ul>
    <li><a href="{{site.link_for_s}}/press_room.html" >Press Room</a></li>
    <li><a href="{{site.link_for_s}}/resources.html" >Resources</a></li>
    <li><a href="{{site.link_for_s}}/budget.html" >Budget</a></li>
    <li><a href="http://www.edcoecharterselpa.org/" target="_blank">EDCOE Charter Selpa</a></li>
    <li><a href="{{site.link_for_s}}/parents.html" >For Parents</a></li>
    <li><a href="http://www.edc-scholarships.org/" target="_blank">Scholarships</a></li>
    <li><a href="{{site.link_for_s}}/employees.html" >For Employees</a></li>
    <li><a href="https://subfinder.edcoe.org/wc2/" target="_blank">Subfinder</a></li>
  </ul>
</div>