<div class="editor">
  <!-- <h3>Left Navigation</h3> -->
  <ul>
    <li><a href="/index.html" >Home</a></li>
    <li><a href="/spotlight.html" >Spotlight</a></li>
    <li><a href="/news.html" >News</a></li>
    <li><a href="/calendar.html" >Calendar</a></li>
  </ul>
  <h3>Quicklinks</h3>
  <ul>
    <li><a href="/press_room.html" >Press Room</a></li>
    <li><a href="/resources.html" >Resources</a></li>
    <li><a href="/budget.html" >Budget</a></li>
    <li><a href="/parents.html" >For Parents</a></li>
    <li><a href="http://www.edc-scholarships.org/" target="_blank">Scholarships</a></li>
    <li><a href="/employees.html" >For Employees</a></li>
    <li><a href="https://subfinder.edcoe.org/wc2/" target="_blank">Subfinder</a></li>
  </ul>
</div>