<div class="editor">
<h3>Department Links</h3>
<ul>
<li><a href="http://edcoe.org/supts/index.html" target="_blank">Superintendent's Office</a></li>
<li class="sq">County Board</li>
  <ul>
    <li><a href="http://edcoe.org/supts/county_board.html" target="_blank">Membership</a></li>
    <li><a href="http://edcoe.org/supts/board_dates.html" target="_blank">Meeting Dates</a></li>
    <li><a href="http://edcoe.org/supts/agendas_minutes/CountyBoardAgendas.html" target="_blank">Agendas/Minutes</a></li>
  </ul>
<li><a href="http://edcoe.org/supts/board_policies.html" target="_blank">EDCOE Policies</a></li>
  <ul class="sq">
    <li>Board Policies</li>
    <li>Administrative Regulations</li>
    <li>Superintendents' Policies</li>
  </ul>
<li><a href="http://edcoe.org/supts/legal_services.html" target="_blank">Legal Services</a></li>
<li><a href="http://edcoe.org/supts/whats_new/index.html" target="_blank">What's New</a></li>
<li><a href="/press_room.html" target="_blank">Press Releases/Articles In The News</a></li>
<li><a href="http://edcoe.org/supts/community_resources/index.html" target="_blank">Community Resources/Links</a></li>
<li><a href="http://edcoe.org/supts/community_resources/state_resources.htm" target="_blank">State Resources/Links</a></li>
</ul>
<div class="sptr20"></div>
<h3>Projects</h3>
<ul>
  <li><a href="http://edcoe.org/supts/projects/acadeca.html" target="_blank">Academic Decathlon</a></li>
  <li><a href="http://edcoe.org/supts/projects/goldenstar.html" target="_blank">Golden Star Students</a></li>
  <li><a href="http://edcoe.org/supts/projects/toysfortots.html" target="_blank">Toys for Tots</a></li>
</ul>
</div>

