<div class="editor">
<h3>Department Links</h3>
<ul>
<li><a href="{{site.link_for}}/supts/index.html" target="{{site.target}}">Superintendent's Office</a></li>
<li class="sq">County Board</li>
  <ul>
    <li><a href="{{site.link_for}}/supts/county_board.html" target="{{site.target}}">Membership</a></li>
    <li><a href="{{site.link_for}}/supts/board_dates.html" target="{{site.target}}">Meeting Dates</a></li>
    <li><a href="{{site.link_for}}/supts/agendas_minutes/CountyBoardAgendas.html" target="{{site.target}}">Agendas/Minutes</a></li>
  </ul>
<li><a href="{{site.link_for}}/supts/board_policies.html" target="{{site.target}}">EDCOE Policies</a></li>
  <ul class="sq">
    <li>Board Policies</li>
    <li>Administrative Regulations</li>
    <li>Superintendents' Policies</li>
  </ul>
<li><a href="{{site.link_for}}/supts/legal_services.html" target="{{site.target}}">Legal Services</a></li>
<li><a href="{{site.link_for}}/supts/whats_new/index.html" target="{{site.target}}">What's New</a></li>
<li><a href="{{site.link_for_s}}/press_room.html">Press Releases/Articles In The News</a></li>
<li><a href="{{site.link_for}}/supts/community_resources/index.html" target="{{site.target}}">Community Resources/Links</a></li>
<li><a href="{{site.link_for}}/supts/community_resources/state_resources.htm" target="_{{site.target}}">State Resources/Links</a></li>
</ul>
<div class="sptr20"></div>
<h3>Projects</h3>
<ul>
  <li><a href="{{site.link_for}}/supts/projects/acadeca.html" target="{{site.target}}">Academic Decathlon</a></li>
  <li><a href="{{site.link_for}}/supts/projects/goldenstar.html" target="{{site.target}}">Golden Star Students</a></li>
  <li><a href="{{site.link_for}}/supts/projects/toysfortots.html" target="{{site.target}}">Toys for Tots</a></li>
</ul>
</div>

